<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :head %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand lo-navbar-head-photo" href="/">
          <img alt="Brand" width="50" height="50" src="http://www.gravatar.com/avatar/e6ddcbc39e68aac2f680124c68141833">
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="posts">Posts</a></li>
          <li><a href="blogs">Blogs</a></li>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Wiki <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
          </li>
          <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Links<span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
          </li>
          <li><a href="imovie">iMovie</a></li>
          <li><a href="freeStyle">freeStyle</a></li>
        </ul>
        <button type="button" class="btn btn-default navbar-btn navbar-right" data-toggle="modal" data-target="#my-login-modal">Sign in</button>
        <%= yield :logined_button %>
        <form class="navbar-form navbar-right" role="search">
          <div class="form-group lo-search-form">
            <input type="text" class="form-control" placeholder="Search">
          </div>
        </form>
        <%= audio_tag 'Home.mp3' %>
      </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
    </nav>  
    <!--Modal-->
    <div class="modal fade" id="my-login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <h5 class="modal-title">Login</h5>
          </div>
          <div class="modal-body">
            <% form_tag "login" do %>
              <%= label_tag "Name:"%> 
              <%= text_field_tag :q %>
            <% end %>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary btn-sm">Sign In</button>
          </div>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <%= yield %>
    <footer class="">
    <div class="jumbotron">
      <h1></h1>
      <h1></h1>
    </div>
    </footer>
  </body>
</html>
